body {
  /*background-image: url(/images/wallpaper.jpg);*/
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
dt,dd {
  margin: 0;
  padding: 0;
}
.new-cat {
  max-width: 500px;
  margin: 0 auto;
}
.new-cat:after {
	content: "";
	display: block;
	height: 0;
	visibility: hidden;
	clear: both;
}
.new-cat dd {
	float: left;
	width: 250px;
}
.see-old {
  max-width: 500px;
  margin: 0 auto;
}