<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/pygment_trac.css">
    <link rel="stylesheet" href="/stylesheets/custom.css">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>July的blog</h1>
        <p class="view">
            <a href="https://github.com/Julyyq/blog">View the Project on GitHub 
                <small>Julyyq/blog</small>
            </a>
        </p>
      </header>
      <dl class="new-cat">
        <dt>文章列表</dt>
        <dd><a href="/2013/08/29/stylus_1.html">stylus教程1</a></dd>
        <dd><a href="/2012/10/20/js_example.html">快速实现轮播效果</a></dd>
        <dd><a href="/2012/10/01/html_doctype.html">HTML文档的标准模式和怪异模式</a></dd>
        <dd><a href="/2012/09/03/http_header.html">Http Header简单介绍</a></dd>
        <dd><a href="/2012/09/02/html_charset.html">给html设置charset属性</a></dd>
        <dd><a href="/2012/09/01/secret_of_JavaScript.html">JavaScript循环中的引用</a></dd>
        <dd><a href="/2012/08/25/use_JavaScript_operate_cookie.html">JavaScript操作cookie</a></dd>
      </dl>
      <section>
        {{ content }}
        <!-- 友言 BEGIN -->
        <!-- <div id="uyan_frame"></div>
        <script type="text/javascript" id="UYScript" src="http://v1.uyan.cc/js/iframe.js?UYUserId=1803257" async=""></script> -->
        <!-- 友言 END -->
      </section>
      <footer>
        <p>This project is maintained by <a href="https://github.com/Julyyq">Julyyq</a></p>
        <p>
            <small>Hosted on GitHub Pages &mdash; Theme by 
                <a href="https://github.com/orderedlist">orderedlist</a>
            </small>
        </p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>
  </body>
</html>