<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/pygment_trac.css">
    <link rel="stylesheet" href="/stylesheets/custom.css">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>July的blog</h1>
        <p class="view">
            <a href="https://github.com/Julyyq/blog">View the Project on GitHub 
                <small>Julyyq/blog</small>
            </a>
        </p>
      </header>
      <dl class="new-cat">
        <dt>文章列表</dt>
        <dd><a href="/2012/09/01/secret_of_JavaScript.html">JavaScript循环中的引用</a></dd>
        <dd><a href="/2012/08/25/use_JavaScript_operate_cookie.html">JavaScript操作cookie</a></dd>
      </dl>
      <section>
        {{ content }}
      </section>
      <footer>
        <p>This project is maintained by <a href="https://github.com/Julyyq">Julyyq</a></p>
        <p>
            <small>Hosted on GitHub Pages &mdash; Theme by 
                <a href="https://github.com/orderedlist">orderedlist</a>
            </small>
        </p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>
  </body>
</html>